---
layout: default

title: Fatal Extractions
sub_title: Where Australian Mining Leaves Its Mark

masthead_pic: /img/masthead.png
---

<div class="home">

  <iframe src="http://projects.icij.org/fatalextractionapp/countries/south-africa" frameborder="0"
          style="height: 720px; width: 100%;"></iframe>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <a name="about" class="anchor"></a>

        <h1>Introduction</h1>
        <hr class="branded"/>

        <p>Australian mining companies are linked to hundreds of deaths and injuries in Africa, which can go unreported
          at home.</p>

        <p>Some of the Australian Securities Exchange-listed companies include state governments as shareholders. One
          company recorded 38 worker deaths over an eleven-year period.</p>

        <p>In Malawi, litigation continues against Paladin Africa Limited, a subsidiary of Perth-based Paladin Energy,
          and its subcontractor after an explosion disfigured one worker with such heat that his skin shattered when
          touched by rescuers. Two others died in the same incident.</p>

        <p>Other allegations include employees in South Africa hacking a woman with a machete and Malian police killing
          two protesters after a mine worker reportedly asked authorities to dislodge a barricade on the road to the
          mine.</p>

        <p>An investigation by ICIJ, in collaboration with 13 African reporters, uncovered locally-filed lawsuits,
          violent protests and community petitions criticising some Australian companies. </p>

        <p><a href="{{ site.baseurl }}/2015/07/10/companies-accused.html">Read more...</a></p>

      </div>
      <div class="col-sm-6">
        <h1>Key Findings</h1>
        <hr class="branded"/>
        {% include key-findings.html %}

        <iframe src="http://afrileaks.codeforafrica.org/embed/call-to-action-default.html"
                style="height: 230px; width: 100%;" scrolling="no" frameborder="0"></iframe>

        <h2>About This Project</h2>
        <hr class="branded"/>
        <p>Fatal Extraction is an international collaboration combining corporate data and extensive field reporting to
          reveal deaths, injuries and community conflicts linked to Australian mining companies across Africa. Australia
          has more mining companies in Africa than other mining giants such as Canada and China.</p>

        <p><a href="{{ site.url }}/about.html">Read more...</a></p>

      </div>
    </div>
    <!-- /.row -->

    <hr class="branded"/>

    <div class="more-series">
      <a name="articles" class="anchor"></a>
      <h2>More In This Series</h2>
      <br/>

      <div class="row">
        {% for series in site.data.home-more-series %}
        <div class="col-sm-6 col-md-3">
          <div class="carousel-inner" role="listbox">

            <div class="item active">
              <a href="{{ site.baseurl }}{% if series.slide_id %}/slider.html#{{ series.slide_id }}{% else %}{{ series.url }}{% endif %}">
                <img
                    src="{{ site.baseurl }}{% if series.slide_id %}/img/slider/{{ series.slide_id }}_home.jpg{% else %}{{ series.home_pic }}{% endif %}"
                    alt="{{ series.title }}"/>

                <div class="carousel-caption">
                  <h3>{{ series.title }}</h3>
                  <hr class="branded"/>
                </div>
              </a>
            </div>

          </div>
          {% if series.excerpt %}

          <p>{{ series.excerpt }}</p>

          <p><a
              href="{{ site.baseurl }}{% if series.slide_id %}/slider.html#{{ series.slide_id }}{% else %}{{ series.url }}{% endif %}">Read
            more...</a></p>
          {% endif %}
        </div>
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 0 %}
        <div class="clearfix visible-sm"></div>
        {% endif %}

        {% assign loopindex = forloop.index | modulo: 4 %}
        {% if loopindex == 0 %}
        <div class="clearfix"></div>
        {% endif %}
        {% endfor %}
      </div>
    </div> <!-- /.more-series -->

    <hr class="branded"/>

    <div class="how-we-did-it">
      <h2>How We Did It</h2>
      <br/>

      <div class="row">
        <div class="col-sm-6 col-md-3">
          <p>Fatal Extraction is an international collaboration combining corporate data and extensive field reporting to reveal deaths, injuries and community conflicts linked to Australian mining companies across Africa. Australia has more mining companies in Africa than other mining giants such as Canada and China.</p>
        </div>
        {% for series in site.data.home-how-we-did-it %}
        <div class="col-sm-6 col-md-3">
          <div class="carousel-inner" role="listbox">

            <div class="item active">
              <a href="{{ site.baseurl }}{% if series.slide_id %}/slider.html#{{ series.slide_id }}{% else %}{{ series.url }}{% endif %}">
                <img
                    src="{{ site.baseurl }}{% if series.slide_id %}/img/slider/{{ series.slide_id }}_home.jpg{% else %}{{ series.home_pic }}{% endif %}"
                    alt="{{ series.title }}"/>

                <div class="carousel-caption">
                  <h3>{{ series.title }}</h3>
                  <hr class="branded"/>
                </div>
              </a>
            </div>

          </div>
          {% if series.excerpt %}

          <p>{{ series.excerpt }}</p>

          <p><a
              href="{{ site.baseurl }}{% if series.slide_id %}/slider.html#{{ series.slide_id }}{% else %}{{ series.url }}{% endif %}">Read
            more...</a></p>
          {% endif %}
        </div>
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 and forloop.index != 1 %}
        <div class="clearfix visible-sm"></div>
        {% endif %}

        {% assign loopindex = forloop.index | modulo: 4 %}
        {% if loopindex == 1 and forloop.index != 1 %}
        <div class="clearfix"></div>
        {% endif %}
        {% endfor %}
      </div>
    </div> <!-- /.how-we-did-it -->

  </div>
  <!-- /.container -->

</div>
