<div class="key-findings">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <h4 class="section-title">key findings</h4>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 list">
      <div class="media">
        <div class="media-left">
          <h1>1</h1>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Since the beginning of 2004, more than 380 people have died in mining accidents or in off-site skirmishes
            connected to Australian publicly-traded mining companies in 13 countries in Africa.</h4>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <h1>2</h1>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Australian mining companies are more numerous than those from other mining giants such as Canada, the
            United Kingdom and China. At the end of 2014, more than 150 companies held about 1500 licenses and owned or
            managed dozens of mining operations across 33 countries in Africa.</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 list">
      <div class="media">
        <div class="media-left">
          <h1>3</h1>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Multiple Australian mining companies are accused of negligence, unfair dismissal, violence and
            environmental law-breaking across Africa, according to legal filings and community petitions gathered from
            South Africa, Botswana, Tanzania, Zambia, Madagascar, Malawi, Mali, Cote d’Ivoire, Senegal and Ghana.</h4>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <h1>4</h1>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Australian state and federal government entities, including government workers’ pension funds, have
            invested in controversial Australian mining companies operating in Africa.</h4>
        </div>
      </div>
    </div>
    <div class="clearfix hidden-lg"></div>
    <div class="col-sm-12 hidden-lg">
      <hr/>
    </div>
    <div class="col-sm-6 col-sm-offset-3 col-lg-offset-0 col-lg-3">
      {% include afrileaks-embed.html %}
    </div>
  </div>
</div>

