<div class="key-findings">
  <h4 class="section-title border-top-branded">key findings</h4>

  <small><ul>
    <li>Since the beginning of 2004, more than 380 people have died in mining accidents or in off-site skirmishes connected to Australian publicly-traded mining companies in 13 countries in Africa.</li>
    <li>Australian mining companies are more numerous than those from other mining giants such as Canada, the United Kingdom and China. At the end of 2014, more than 150 companies held about 1500 licenses and owned or managed dozens of mining operations across 33 countries in Africa.</li>
    <li>Multiple Australian mining companies are accused of negligence, unfair dismissal, violence and environmental law-breaking across Africa, according to legal filings and community petitions gathered from South Africa, Botswana, Tanzania, Zambia, Madagascar, Malawi, Mali, Cote d’Ivoire, Senegal and Ghana.</li>
    <li>Australian state and federal government entities, including government workers’ pension funds, have invested in controversial Australian mining companies operating in Africa.</li>
  </ul></small>
</div>

