/* */

@import "fonts";

@import "bootstrap-sprockets";
@import "variables";

@import "layout";

@import "bootstrap";
@import "bootswatch";

a.anchor{
  display: block; position: relative; top: -62px; visibility: hidden;
};

body {
  font-size: 17px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-bottom: 20px;
}

hr {
  margin: 50px 0;
}

.carousel-caption {
  h3 {
    color: #ffffff !important;
  }
}
