/* */

@import "fonts";

@import "bootstrap-sprockets";
@import "variables";

@import "layout";

@import "bootstrap";
@import "bootswatch";

a.anchor{
  display: block; position: relative; top: -62px; visibility: hidden;
};

body {
  font-size: 17px;
}

.carousel-caption {
  h3 {
    color: #ffffff !important;
  }
}
