/**
 * Header Layout
 * ------------- */

header {
  .navbar {
    margin-bottom: 0;
    .navbar-brand {
      border-right: 1px solid #ffffff;
      img {
        height: 21px;
        vertical-align: top;
        display: inline-block;
      }
    }
  }
}

.masthead {

  color: #fff !important;
  text-align: left;

  .dropdown-menu {
    z-index: 2000;
  }

  .masthead-outer {
    background-image: url("/img/masthead.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .masthead-inner {
      padding: 30px 0;
      width: 100%;
      height: 100%;

      &.darken {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 100px 0 40px;
        h1 {
          margin: 0;
          font-size: 50px;
        }
      }

      h1, h2 {
        color: #ffffff;

      }
      h1 {
        font-size: 70px;
        display: inline-block;
        margin-bottom: 0;
      }
      h2 {
        font-size: 35px;
        margin-bottom: 30px;
        font-weight: normal;
      }

      .logo {
        text-align: center;
        img {
          width: 150px;
        }
        h1 {
          font-family: 'captured_it', 'captured_it_2', sans-serif;
          font-weight: normal;
          font-size: 75px;
        }
      }

      button {
        border-radius: 9999px;
        padding: 15px 35px;
        background: none;
        border: 2px solid;
        font-size: 15px;
        text-transform: uppercase;
      }
    }

  }

}

/**
 * Footer Layout
 * ------------- */

footer {
  padding: 50px 0 0;

  .icij {
    background-color: #852308;
    p {
      color: #ffffff;
      margin-right: 20px;
      margin-top: 10px;
    }
    img {
      height: 71px;
      max-width: 35%;
    }
  }

  .ancir {
    background-color: #000000;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;

    h3 {
      font-family: 'captured_it', 'captured_it_2', sans-serif;
      font-weight: normal;
      color: #ffffff;
      font-size: 60px;
      margin: 0;
      img {
        height: 70px;
        margin-right: 10px;
      }
    }

    a {
      color: #ffffff;
    }

    .links p {
      font-size: 16px;
      span {
        margin: 0 10px;
      }
    }
  }
}

/**
 * Custom Layout
 * ------------- */

hr.branded {
  border-color: $brand-primary;
}

.hyperspan {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  &:hover {
    background-color: rgba(0, 0, 0, 0.07);
  }
}

.drop-cap {
  float: left;
  color: $brand-primary;
  font-size: 95px;
  line-height: 80px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: Georgia;
}

/**
 * Home Layout
 * ----------- */

.home {
  iframe {
    margin-bottom: 50px;
  }
  .more-series, .how-we-did-it {

    .col-inner {
      background-color: #efefec;
      padding-bottom: 5px;

      & > * {
        padding-right: 5px;
        padding-left: 5px;
      }
      img, hr, a, .hyperspan {
        padding: 0;
      }

      position: relative;

    }

    img {
      border-top: 1px solid $brand-primary;
      width: 100%;
    }

    a:hover img {
      opacity: 0.75;
    }
    .carousel-inner {
      margin-bottom: 10px;
      img {
        min-width: 100%;
      }
    }
    p:last-child {
      margin-bottom: 20px;
    }
  }

  .reporting-partners {
    .logos {
      a {
        img {
          padding: 10px;
          margin: 10px;
          height: 70px;
        }
      }
    }
  }

}

/**
 * Post Layout
 * ----------- */

.post {
  font-size: 20px;
  article {
    padding: 50px 0 20px;
    p {
      font-size: 20px;
    }
  }
}

/**
 * AfriLEAKS Layout
 * ------------- */

.afrileaks {
  background: #ffff00;
  color: #000000;

  .media-left {
    img {
      margin-top: 20px;
      width: 100px;
    }
  }

  .media-body {
    padding: 20px 20px 20px 0;

    .btn {
      border-radius: 0;
      background-color: #000000;
      color: yellow;
      font-family: 'afrileaks';
      font-size: 20px;

      &:hover, &:focus {
        background-color: #000000;
        color: yellow;
        text-decoration: underline;
      }
    }
  }

}

/**
 * ActNOW Layout
 * ------------- */

.actnow {
  img.logo {
    width: 100px;
  }
  h1 {
    margin-top: -36px;
    margin-bottom: 10px;
  }
  .btn-default {
    background-color: #FBBF31;
  }
  .help-block {
    font-size: 15px;
    font-style: italic;
  }
}

