
/**
 * Header Layout
 * ------------- */

header {
  .navbar {
    margin-bottom: 0;
    .navbar-brand {
      border-right: 1px solid #ffffff;
      img {
        height: 21px;
        vertical-align: top;
        display: inline-block;
      }
    }
  }
}

.masthead {

  color: #fff !important;
  text-align: left;

  .dropdown-menu {
    z-index: 2000;
  }

  .masthead-outer {
    background-image: url("/img/masthead.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .masthead-inner {
      padding: 30px 0;
      width: 100%;
      height: 100%;

      &.darken {
        background-color: rgba(0,0,0,0.3);
        padding: 70px 0;
        h1 {
          margin: 0;
          font-size: 50px;
        }
      }

      h1, h2 {
        color: #ffffff;

      }
      h1 {
        font-size: 70px;
        display: inline-block;
        margin-bottom: 0;
      }
      h2 {
        font-size: 35px;
        margin-bottom: 30px;
        font-weight: normal;
      }

      .logo {
        text-align: center;
        img {
          width: 150px;
        }
        h1{
          font-family: 'captured_it','captured_it_2', sans-serif;
          font-weight: normal;
          font-size: 75px;
        }
      }

      button {
        border-radius: 9999px;
        padding: 15px 35px;
        background: none;
        border: 2px solid;
        font-size: 15px;
        text-transform: uppercase;
      }
    }

  }

}



/**
 * Footer Layout
 * ------------- */

footer {
  padding: 20px 0 0;

  .icij {
    background-color: #852308;
    p {
      color: #ffffff;
      margin-right: 20px;
      margin-top: 10px;
    }
    img {
      height: 71px;
    }
  }

  .ancir {
    background-color: #000000;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;

    h3 {
      font-family: 'captured_it','captured_it_2', sans-serif;
      font-weight: normal;
      color: #ffffff;
      font-size: 60px;
      margin: 0;
      img {
        height: 70px;
        margin-right: 10px;
      }
    }

    a {
      color: #ffffff;
    }
  }
}



/**
 * Custom Layout
 * ------------- */

hr.branded {
  border-top: 5px solid $brand-primary;
}


/**
 * Home Layout
 * ----------- */

.home {
 .more-series, .how-we-did-it {
   a:hover img {
     opacity: 0.75;
   }
   .carousel-inner {
     margin-bottom: 10px;
     img {
       min-width: 100%;
     }
   }
   p:last-child {
     margin-bottom: 20px;
   }
 }
}


/**
 * Home Layout
 * ----------- */

.post {
  font-size: 20px;
  article {
    padding: 40px 0 20px;
    p {
      font-size: 20px;
    }
  }
}

